# Clock
LOCATE   COMP "clk" SITE "P3";
IOBUF    PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;

# Saídas Motor
LOCATE COMP "IN1_PIN" SITE "D3"; # Exemplo de pino livre
LOCATE COMP "IN2_PIN" SITE "C17"; # Exemplo de pino livre
LOCATE COMP "IN3_PIN" SITE "B18"; # Exemplo de pino livre
LOCATE COMP "IN4_PIN" SITE "B20"; # Exemplo de pino livre
IOBUF PORT "IN4_PIN" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
IOBUF PORT "IN1_PIN" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
IOBUF PORT "IN2_PIN" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
IOBUF PORT "IN3_PIN" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
